
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
    background-color: #055e11;
}
.form__info {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    margin: auto;
    text-align: center;
    clear: both;
    text-align: center;
    flex-direction: column;
}
p {
    color: #1515c0;
    font-weight: 600;
    font-size: 18px;
}
a {
    color: #101054;
}
body {
    padding: 30px; /* adds 10px inner spacing to all sides */
    margin: 0 auto; /* Adds a 10px spacing to all sides */
  }

.pokemon-list {
    font-weight: 600;
    font-size: 22px;
    text-align: left;
    list-style-type: none;
}
.pokedex-list {
    border: none;
    color: rgb(9, 132, 203);
    padding: 16px 32px; /* padding on button */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;/* bolder text */
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(27, 188, 213); /* changed button color */
    color: black;
    border: 2px solid #181a18; /* changed border color */
}